.home-about-textbox {
  background-color: #222226;
  padding: 4em;
  width: 100vw;

  outline: 2.8px solid $brand-dark-green;
  outline-offset: -2.5em;
  color: $text-inverse;
  position: relative;

  p {
    font-size: 1.2em;
    font-weight: $font-light;
  }

}

.home-about-textbox h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $brand-green;
  top: 0em;
  background: #222226;
  padding: 0 .49em;
}

@media (max-width: 899px) {
  .home-about-textbox {
    padding: 1.5em 0 3em;
    outline: none;
  }

  .home-about-textbox h1 {
    position: relative;
    padding: 0;
    background: none;
  }

  .home-about-textbox p {
    padding: 0 1.2em 0;
  }

}



@media (min-width: 900px) {

  .home-about-textbox {
    top: -15em;
    height: auto;
    width: 600px;
    left: 0em;
    text-align: left;
    padding: 5em;
    box-shadow: 0 0 4em 0 rgba(0,0,0, .55);
  }

  .home-about-textbox h1 {
    top: 0;
    left: 3.5rem;
    transform: translateX(0);
  }

  .home-about-textbox p {
    font-weight: $font-light;
    font-size: 1.2em;
    margin-bottom: 0;
    line-height: 1.6;
    padding-top: .8em;
  }



  .container-food {
    background-image: url("../assets/tostones.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding: 10em;
    height: 92vh;
  }

  .home-about-description {
    padding: 3em;
  }

}
