.features-points {
  padding-top: 3em;
}

.features-title {
  font-size:1.2em;
  position:relative;
  text-align:center;


// Horizontal line on heading
  h1 {
   overflow: hidden;
   text-align: center;
  }

  h1:before,
  h1:after {
   background-color: $black;
   content: "";
   display: inline-block;
   height: 1px;
   position: relative;
   vertical-align: middle;
   width: 25%;
  }

  h1:before {
   right: 0.5em;
   margin-left: -50%;
  }

  h1:after {
   left: 0.5em;
   margin-right: -50%;
  }

}


.features-point {
  display: block;
  padding: 2em;

  h2 {
    padding: 2em 0 1em 0;
  }

  p {
    text-align: left;
  }

}
