.home-hero {
  height: 111vh;
  background: linear-gradient( to right, rgba(34, 34, 38, 0.2), rgba(34, 34, 38, 0.38) ), url("/assets/garita.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 19em 0;
  color: $text-inverse;
}
