.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3.2rem;
  font-weight: $font-normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: .65em;
  transition: all ease-in-out 210ms;
}

.btn--transparent {
  color: $text-main;
  background: none;
  border: 2px solid $text-main;
  // border-radius: 30px;

  &:hover {
    border: 2px solid $text-inverse;
    background: $brand-green;
    color: $text-inverse;
  }

  &:focus {
    border: 2px solid $text-inverse;
    background: $brand-green;
    color: $text-inverse;
  }

}

.btn--solid {
  color: $white-green;
  background: $brand-green;

  &:hover {
    background: $brand-dark-green;
  }

  &:focus {
    background: $brand-dark-green;
  }

}
