.cta {
  height: 1100px;
  margin: 0;
  background-image: url("../assets/shopping-bag.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  .title-large {
    padding: 1.2em 0;
    color: $text-inverse;
    font-weight: $font-light;
  }

  @media(max-width: 900px) {
    height: 100vh;

    .title-large {
      padding: 1.3em 0 0;
      font-size: 2.5em;
    }
  }

}


.join-card {
  background: $black;
  padding: 1em;
  color: $text-inverse;
}
