.cta {
  height: 1200px;
  margin: 0;
  background-image: url("../assets/shopping-bag.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  .title-large {
    padding-top: 1em;
    color: $text-inverse;
    font-weight: $font-light;
  }

  @media(max-width: 900px) {
    height: 100vh;

    .title-large {
      font-size: 3.5em;
      padding: .5em 0 0;
    }
  }

}
