footer {
  height: 400px;
  background: #222226;
  padding: 2em;

  // background: (linear-gradient(to bottom, rgba(34, 34, 38, .97), rgba(34, 34, 38, 1)), url("/assets/adoquines.jpeg"));
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;


  p, span {
    color: $text-inverse;
    font-weight: $font-normal;
  }

  .col-3 {

  }

  nav, li {
    display: inline-block;
    margin: 1em;
  }

  nav, a {
    font-weight: $font-bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: $text-inverse;
    padding: .5em;

    &:hover {
      color: #ddd;
    }

  }

}
