.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  padding: 3em 0;

  @media(max-width:600px) {
    flex-wrap: wrap;
  }

}
