header {
  background: $brand-green;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 1em;
  overflow: hidden;
  display: flex;
}

.logo {
  width: 25%;

// retain size of logo
  min-width: 15rem;
  max-width: 15rem;
}
