header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em;
  overflow: hidden;

  .logo {
    width: 25%;
    float: left;

  // retain size of logo
    min-width: 15rem;
    max-width: 15rem;
  }

  nav, li {
    display: inline-block;
    margin: 1em;
    float: right;
  }

  nav, a {
    font-weight: $font-bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: $text-inverse;
    padding: .5em;
    letter-spacing: 1px;

    &:hover {
      color: #ddd;
    }

  }

}
