.home-hero {

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .btn--transparent {
    text-decoration: none;
    color: $text-main;
    background: none;
    border: 1.5px solid $text-main;
    padding: 1em;
  }

}
