.home-hero {
  height: 115vh;
  background: linear-gradient( to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2) ), url("/assets/boxes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15em 0 15em 0;
  color: $text-inverse;
}
