*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: $white;
}

body {
  // text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    text-decoration: none;
  }

}
