@import url("https://fonts.googleapis.com/css?family=Raleway:200,500,800");
*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  text-align: center; }

nav, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 .75em; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
  margin: 0; }

h1 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 3px; }

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1; }

.title-large {
  font-size: 3rem;
  font-weight: 200;
  line-height: .9; }
  .title-large span {
    font-weight: 500; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: .65em;
  transition: all ease-in-out 210ms; }

.btn--transparent {
  color: #0cd8a1;
  background: none;
  border: 2px solid #0cd8a1; }
  .btn--transparent:hover {
    border: 2px solid #FBFBFF;
    background: #0cd8a1;
    color: #FBFBFF; }
  .btn--transparent:focus {
    border: 2px solid #FBFBFF;
    background: #0cd8a1;
    color: #FBFBFF; }

.btn--solid {
  color: #f8fffd;
  background: #0cd8a1; }
  .btn--solid:hover {
    background: #09a87d; }
  .btn--solid:focus {
    background: #09a87d; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.grid {
  display: flex;
  flex-wrap: wrap; }

.col {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  padding: 3em 0; }
  @media (max-width: 900px) {
    .col {
      flex-wrap: wrap;
      padding: 1em; } }

header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em;
  overflow: hidden; }
  header .logo {
    width: 25%;
    float: left;
    min-width: 15rem;
    max-width: 15rem; }
  header nav, header li {
    margin: 1em;
    float: right; }
  header nav, header a {
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #FBFBFF;
    padding: .5em;
    letter-spacing: 1px; }
    header nav:hover, header a:hover {
      color: #ddd; }

.home-hero {
  height: 111vh;
  background: linear-gradient(to right, rgba(34, 34, 38, 0.2), rgba(34, 34, 38, 0.38)), url("/assets/garita.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 19em 0;
  color: #FBFBFF; }

.home-about-textbox {
  background-color: #222226;
  padding: 4em;
  width: 100vw;
  outline: 2.8px solid #09a87d;
  outline-offset: -2.5em;
  color: #FBFBFF;
  position: relative; }
  .home-about-textbox p {
    font-size: 1.2em;
    font-weight: 200; }

.home-about-textbox h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #0cd8a1;
  top: 0em;
  background: #222226;
  padding: 0 .49em; }

@media (max-width: 899px) {
  .home-about-textbox {
    padding: 1.5em 0 3em;
    outline: none; }
  .home-about-textbox h1 {
    position: relative;
    padding: 0;
    background: none; }
  .home-about-textbox p {
    padding: 0 1.2em 0; } }

@media (min-width: 900px) {
  .home-about-textbox {
    top: -15em;
    height: auto;
    width: 600px;
    left: 0em;
    text-align: left;
    padding: 5em;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.55); }
  .home-about-textbox h1 {
    top: 0;
    left: 3.5rem;
    transform: translateX(0); }
  .home-about-textbox p {
    font-weight: 200;
    font-size: 1.2em;
    margin-bottom: 0;
    line-height: 1.6;
    padding-top: .8em; }
  .container-food {
    background-image: url("../assets/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding: 10em;
    height: 92vh; }
  .home-about-description {
    padding: 3em; } }

.features-points {
  padding-top: 3em; }

.features-title {
  font-size: 1.2em;
  position: relative;
  text-align: center; }
  .features-title h1 {
    overflow: hidden;
    text-align: center; }
  .features-title h1:before,
  .features-title h1:after {
    background-color: #222226;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%; }
  .features-title h1:before {
    right: 0.5em;
    margin-left: -50%; }
  .features-title h1:after {
    left: 0.5em;
    margin-right: -50%; }

.features-point {
  display: block;
  padding: 2em; }
  .features-point h2 {
    padding: 2em 0 1em 0; }
  .features-point p {
    text-align: left; }

.promo {
  padding: 4em 0 0 0; }
  .promo .img1 {
    width: 50%; }
    .promo .img1 img {
      max-width: 100%; }
  .promo .img2 {
    width: 50%; }
    .promo .img2 img {
      max-width: 100%; }

.cta {
  width: 100%;
  background: #222226;
  color: #0cd8a1; }

footer {
  height: 400px;
  background: #222226;
  padding: 2em; }
  footer p, footer span {
    color: #FBFBFF;
    font-weight: 500; }
  footer nav, footer li {
    display: inline-block;
    margin: 1em; }
  footer nav, footer a {
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #FBFBFF;
    padding: .5em; }
    footer nav:hover, footer a:hover {
      color: #ddd; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.5;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }
